.container{
  border: 2px solid blueviolet;
  height: 97vh;

  display: flex;
  /*! вказуємо що в цьому контейнері позиціювання буде за правилами flex */

  flex-direction: row;
  /*! Змінює напрямок головної осі */

  justify-content: space-evenly;
  /*! позиціонує елементи по ГОЛОВНА осі (ПРАЦЮЄ ТІЛЬКИ З ГОЛОВНОЮ ВІСЮ)*/

  align-items: flex-start;
  /** З УМОВОЮ ЯКЩО В НАС 1РЯДОК ЕЛЕМЕНТІВ */
  /*! відповідає за дРУГОРЯДНУ ВІСЬ (З УМОВОЮ ЯКЩО В НАС 1РЯДОК ЕЛЕМЕНТІВ)  */


  /*? декілька рядків елементів*/

  flex-wrap: wrap;
  /*! дозволяє або забороняє перенесити елементи на навий рядок якщо не вміщаються в один */

  /* align-content: space-evenly; */
  /** З УМОВОЮ ЯКЩО В НАС включений  flex-wrap: wrap;*/
  /*! відповідає за дРУГОРЯДНУ ВІСЬ ( З УМОВОЮ ЯКЩО В НАС включений  flex-wrap: wrap;)  */


  gap: 20px 50px;
  /*! працює як margin тільки для flex елементів в середині флекс контейнера */
}

.itemAll{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border:2px solid green;
  /* margin: 10px; */
  font-size: 40px;
  text-align: center;
  height: 100px;
  width: 300px;

  
  
}


.item1{
  /* flex-basis: 33%; */
  /*!початуковий розмір ел по головній осі*/

  order: 1;
  /*! можемо змінювати порядкове місце в нашому контейнері*/
  /*! якщо це чісло буде найбільше то цей елменти буде останій  */

  /* flex-grow: 1; */
  /*! скільки розміру займає даний елемент відносно інших всіх елементів в дробах 1/5 */

  /* flex-shrink: 1; */
  /*! який елемент буде зменшуватися перший при тому коли сам блок буде зменшуватися  */

   /* align-self: flex-start; */
   /*! дозворляє керувати окремим елментом по другорядній осі */
}
.item2{
  order: 2;
  /*! можемо змінювати порядкове місце в нашому контейнері*/

  /* flex-grow: 3; */
  /*! скільки розміру займає даний елемент відносно інших всіх елементів в дробах 3/5 */

  /* flex-shrink: 2; */
  /*! який елемент буде зменшуватися перший при тому коли сам блок буде зменшуватися  */

   /* align-self: flex-end; */
   /*! дозворляє керувати окремим елментом по другорядній осі */

}
.item3{
  order: 3;
  /*! можемо змінювати порядкове місце в нашому контейнері*/

  /* flex-grow: 1; */
  /*! скільки розміру займає даний елемент відносно інших всіх елементів в дробах 1/5 */

  /* flex-shrink: 3; */
  /*! який елемент буде зменшуватися перший при тому коли сам блок буде зменшуватися  */

   /* align-self: center; */
   /*! дозворляє керувати окремим елментом по другорядній осі */

}
