.container{
  background-color: #843636;
  padding: 50px;
  /* position: relative; */
}

.item1{
  padding: 30px;
  background-color: red;

  /* position: static; */

  /*! ///////////////////////////////////////////// */
  /* position: relative; */
  /*!1 не втрачає за собою своє місце */
  /*!2 позиціюнується відносно свого початкового місця */

  /*! долсту лише тоді коли використовуємо position*/
  /* top: ;
  bottom: ;
  left: ;
  right: ; */

  /* top: 20px; */
  /* left: 20px; */
  /*! ///////////////////////////////////////////// */


}
.item2{
  padding: 30px;
  background-color: blue;

  /*! ///////////////////////////////////////////// */
  /* position: absolute; */
  /*!1 втрачає своє місце */
  /*!2 позиціюнується відносно всієї сторінки (як виняток якщо для батьківського ел дати властивість position: reletive то позиціюнуватися буде віждносно стінок батьківського блока) */

  /* left: 0px; */
  /* bottom: 0px; */
  /* top: 100px; */

  /*! ///////////////////////////////////////////// */
}
.item3{
  padding: 30px;
  background-color: greenyellow;


  /*! ///////////////////////////////////////////// */
  /* position: fixed; */
  /*!1 втрачає своє місце */
  /*!2 відносно екрана */

  /* left: 200px; */
  /* bottom: 0px; */
  /* top: 200px; */


  /*! ///////////////////////////////////////////// */

  /*! ///////////////////////////////////////////// */
  position: sticky;
  /*!1 зберігає за собою місце */
  /*!2 відносно екрана */

  /* left: 200px; */
  /* bottom: 0px; */
  top: 10px;


  /*! ///////////////////////////////////////////// */
}